@use "../utilities/" as u;

body {
  background: rgb(244, 252, 252);
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.container {
  margin: 8rem auto;
  width: fit-content;

  display: flex;
  gap: 2.5rem;

  @include u.breakpoint-down(medium) {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    margin: 2rem auto;
  }
}
