button,
input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.size-input-container {
  display: flex;
  gap: 1.5rem;
}

button {
  cursor: pointer;
  background: rgb(241, 241, 241);
  box-shadow: 6px 6px rgb(22, 46, 61);

  transition: all 0.1s ease-in;

  position: relative;

  &:hover {
    transform: translateY(4px);
    transform: translateX(4px);
    opacity: 0.9;
    box-shadow: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.btn-black {
  background: black;
  color: white;
}

.btn-random {
  background: linear-gradient(
    136deg,
    rgba(195, 34, 34, 1) 0%,
    rgba(191, 203, 55, 1) 14%,
    rgba(74, 210, 76, 1) 26%,
    rgba(101, 218, 220, 1) 44%,
    rgba(93, 126, 226, 1) 62%,
    rgba(216, 69, 239, 1) 77%,
    rgba(245, 59, 171, 1) 87%,
    rgba(253, 45, 48, 1) 100%
  );
  color: white;
}
