.selected {
  display: none;
  height: 1rem;
  width: 1rem;
  border: 2px solid black;
  background: lime;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}
